@font-face {
  font-family: "Lato-Bold";
  src: url("./fonts/Lato-Bold.ttf");
}

@font-face {
  font-family: "Lato-Black";
  src: url("./fonts/Lato-Black.ttf");
}

@font-face {
  font-family: "Lato-Regular";
  src: url("./fonts/Lato-Regular.ttf");
}

@font-face {
  font-family: "Lato-Light";
  src: url("./fonts/Lato-Light.ttf");
}

@font-face {
  font-family: "Lato-Italic";
  src: url("./fonts/Lato-Italic.ttf");
}


* {
  margin: 0;
  padding: 0;
  text-decoration: none;
}

body {
  scroll-behavior: smooth;
  background: #ffffff;
}

img {
  display: block;
  max-width: 100%;
  background: #222222;
}

h1 {
  font-family: "Lato-Black";
  font-weight: 900;
  font-size: 48px;
  line-height: 57.6px;
  color: #222222;
}

h2 {
  font-family: "Lato-Bold";
  font-weight: 700;
  font-size: 24px;
  line-height: 28.8px;
  color: #F16D7F;
}

h3 {
  font-family: "Lato-Bold";
  font-weight: 700;
  font-size: 32px;
  line-height: 38.4px;
  color: #222222;
}

h4 {
  font-family: "Lato-Regular";
  font-weight: 400;
  font-size: 16px;
  line-height: 19px;
  color: #ffffff;
}

p {
  font-family: "Lato-Regular";
  font-weight: 400;
  font-size: 14px;
  line-height: 17px;
  color: #5D5D5D;
  text-align: center;
}

.header {
  background: #222222;
}

.container {
  max-width: 1140px;
  margin: 0 auto;
}

.navigation {
  display: flex;
  justify-content: space-between;
  align-items: center;
  height: 75px;
}

.header__btn {
  border: none;
  cursor: pointer;
}

.header__leftSide {
  display: flex;
  justify-content: start;
  gap: 41px;
}

.header__rightSide {
  display: flex;
  justify-content: end;
  gap: 33px;
}

.header__btn-cart {
  position: relative;
}

.header__counter {
  display: flex;
  width: 19px;
  height: 19px;
  background: #F16D7F;
  border-radius: 9.5px;
  align-items: center;
  justify-content: center;
  position: absolute;
  top: -9px;
  right: -9px;
}

.banner {
  background: #F1E4E6;
  position: relative;
}

.banner-content {
  display: flex;
  justify-content: space-between;
  align-items: center;
  max-width: 1600px;
}

.banner__img {
  background: #F1E4E6;
}

.banner__text {
  display: flex;
  flex-wrap: wrap;
  border-left: 12px solid #F16D7F;
  width: 377px;
  padding-left: 16px;
  margin-top: 290px;
  margin-bottom: 380px;
  margin-right: 235px;
}

.banner__text-fashion {
  font-family: "Lato-Bold";
  font-weight: 700;
  font-size: 32px;
  line-height: 38.4px;
  color: #F16D7F;
  text-align: left;
  padding-left: 9px;
}

.banner__menu {
  display: flex;
  flex-direction: column;
  position: absolute;
  top: 0;
  right: 0;
  width: 168px;
  height: 570px;
  background: white;
  padding: 32px;
  box-shadow: 6px 4px 35px #000000;
}

.banner__menu_title {
  font-size: 14px;
  line-height: 17px;
  margin-bottom: 24px;
}

.banner__menu_subtitles {
  color: #F16D7F;
  text-align: left;
  margin-bottom: 12px;
}

.banner__menu_links {
  display: flex;
  flex-direction: column;
  gap: 11px;
  padding-left: 21px;
  font-family: "Lato-Regular";
  font-weight: 400;
  font-size: 14px;
  line-height: 17px;
  color: #6F6E6E;
  margin-bottom: 20px;
}

.offers {
  display: flex;
  margin-top: 65px;
  gap: 30px;
  margin-bottom: 30px;
}

.offerForWomen {
  background-image: url(./img/offer_for_women_img.png);
  width: 100%;
  height: auto;
}

.offerForMen {
  background-image: url(./img/offer_for_men_img.png);
  width: 100%;
  height: auto;
}

.offerForKids {
  background-image: url(./img/offer_for_kids_img.png);
  width: 100%;
  height: auto;
}

.offerDownPart {
  margin-bottom: 110px;
}

.offerAccesories {
  background-image: url(./img/offer_accesories_img.png);
  width: 100%;
  height: auto;
}

.offer__text-accesories {
  display: flex;
  flex-direction: column;
  padding: 65px 490px;
  align-items: center;
}

.offer__background {
  background: rgba(33, 22, 22, 0.7);
  width: 100%;
  height: 100%;
}

.offer__text {
  display: flex;
  flex-direction: column;
  padding: 105px 103px;
  align-items: center;
}

.products__title {
  font-family: "Lato-Regular";
  font-weight: 400;
  font-size: 30px;
  line-height: 36px;
  color: #222222;
  text-align: center;
  margin-bottom: 6px;
}

.productCards {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  grid-template-rows: 1fr 1fr;
  gap: 30px;
  margin-top: 48px;
  margin-bottom: 48px;
}

.productCard {
  background: #F8F8F8;
  width: 100%;
  position: relative;
}

.productCard__hover {
  background: #3A3838;
  opacity: 86%;
  width: 360px;
  height: 420px;
  position: absolute;
  top: 0;
  left: 0;
  display: none;
}

.productCard__hover_btn {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 11px;
  background: none;
  border: 1px solid white;
  width: 139px;
  height: 44px;
  cursor: pointer;
}

.productCard__hover_img {
  background: none;
}

.productCard__hover_text {
  color: white;
}

.productCard_1:hover~.productCard__hover {
  display: block;
  display: flex;
  justify-content: center;
  align-items: center;
}

.productCard_2:hover~.productCard__hover {
  display: block;
  display: flex;
  justify-content: center;
  align-items: center;
}

.productCard_3:hover~.productCard__hover {
  display: block;
  display: flex;
  justify-content: center;
  align-items: center;
}

.productCard_4:hover~.productCard__hover {
  display: block;
  display: flex;
  justify-content: center;
  align-items: center;
}

.productCard_5:hover~.productCard__hover {
  display: block;
  display: flex;
  justify-content: center;
  align-items: center;
}

.productCard_6:hover~.productCard__hover {
  display: block;
  display: flex;
  justify-content: center;
  align-items: center;
}

.productCards__downSide {
  display: flex;
  flex-direction: column;
  padding: 24px 16px;
  gap: 18px;
}

.productCards__title {
  font-size: 13px;
  line-height: 16px;
  color: #000000;
}

.productCards__description {
  font-weight: 300;
  text-align: left;
  width: 314px;
}

.productCards__price {
  font-size: 16px;
  line-height: 19px;
  color: #F16D7F;
  text-align: left;
}

.downBtn {
  display: flex;
  align-items: center;
  padding: 15px 39px;
  border: 1px solid rgb(255, 106, 106);
  font-family: "Lato-Regular";
  font-weight: 400;
  font-size: 16px;
  line-height: 19.2px;
  color: #F26376;
  background: #ffffff;
  margin-bottom: 60px;
  cursor: pointer;
}

.downBtn:hover {
  background: #FF6A6A;
  color: white;
}

.about {
  display: flex;
  justify-content: center;
  gap: 30px;
  background-color: #222224;
  padding-top: 104px;
  padding-bottom: 104px;
}

.about__blocks {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.about__delivery-logo {
  width: 45px;
  margin-bottom: 28px;
}

.about__sales-logo {
  width: 40px;
  margin-bottom: 19px;
}

.about__quality-logo {
  width: 47px;
  margin-bottom: 25px;
}

.about__titles {
  font-size: 20px;
  line-height: 24px;
  color: #FBFBFB;
  margin-bottom: 16px;
}

.about__text {
  font-family: "Lato-Light";
  font-size: 14px;
  line-height: 17px;
  color: #FBFBFB;
  width: 360px;
}



.subscription__banner {
  background-image: url(./img/subscription_background.png);
  background-size: cover;
}

.subscription__background {
  background: rgba(244, 244, 244, 0.7);
  width: 100%;
  height: 100%;
}

.subscription__content {
  display: flex;
  justify-content: space-between;
}

.subscription__content-leftSide {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin-top: 97px;
  margin-bottom: 130px;
  width: 360px;
}

.subscription__content-leftSide-photo {
  width: 96px;
  margin-bottom: 30px;
  background: none;
}

.subscription__content-leftSide-text {
  font-family: "Lato-Italic";
  font-weight: 400px;
  font-size: 20px;
  line-height: 24px;
  text-align: center;
  color: #222224;
}

.subscription__content-rightSide {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin-top: 150px;
}

.subscription__content-rightSide-title {
  font-family: "Lato-Bold";
  font-weight: 700;
  font-size: 24px;
  line-height: 40px;
  color: #222224;
}

.subscription__content-rightSide-text {
  font-family: "Lato-Regular";
  font-weight: 400;
  font-size: 18px;
  line-height: 30px;
  color: #222224;
  margin-bottom: 32px;
}

.subscription__content-rightSide-form {
  display: flex;
  font-family: "Lato-Regular";
  font-weight: 400;
  font-size: 14px;
  line-height: 16.8px;
  color: #222224;
}

.subscription__input {
  width: 170px;
  height: 36px;
  padding: 7px 64px 6px 22px;
  border: none;
  border-radius: 24.5px 0 0 24.5px;
  background: #E1E1E1;
}

.subscription__btn {
  align-items: center;
  width: 85px;
  height: 49px;
  padding: 7px 7px 6px 8px;
  border: none;
  border-radius: 0 24.5px 24.5px 0;
  background: #F16D7F;
  display: flex;
  font-family: "Lato-Regular";
  font-weight: 400;
  font-size: 14px;
  line-height: 16.8px;
  color: #FFFFFF;
  cursor: pointer;
}



.footer {
  background: #222224;
}

.footer__content {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 30px 0;
}

.footer__content-leftSide {
  font-family: "Lato-Regular";
  font-weight: 400;
  font-size: 16px;
  line-height: 19px;
  color: #FBFBFB
}

.footer__content-mobile {
  display: none;
}

.footer__content-rightSide {
  display: flex;
  gap: 7.3px;
  height: 32px;
}

.footer__link {
  display: flex;
  width: 32px;
  height: 32px;
  background: white;
  justify-content: center;
  align-items: center;
}

.footer__link:hover svg{
  fill: white;
  background: #F16D7F;
  padding: 8.5px 11.5px;
}

.footer__link2 {
  display: flex;
  width: 32px;
  height: 32px;
  background: white;
  justify-content: center;
  align-items: center;
}

.footer__link2:hover svg{
  fill: white;
  background: #F16D7F;
  padding: 8.5px 8px;
}

.footer__link3 {
  display: flex;
  width: 32px;
  height: 32px;
  background: white;
  justify-content: center;
  align-items: center;
}

.footer__link3:hover svg{
  fill: white;
  background: #F16D7F;
  padding: 8px 9.5px;
}

.footer__link4 {
  display: flex;
  width: 32px;
  height: 32px;
  background: white;
  justify-content: center;
  align-items: center;
}

.footer__link4:hover svg{
  fill: white;
  background: #F16D7F;
  padding: 9px 7.5px;
}





@media(min-width: 768px) and (max-width: 1139px) {
.container {
  max-width: 768px;
}

h1 {
  font-family: "Lato-Black";
  font-size: 44px;
  line-height: 52.8px;
}

h3 {
  font-family: "Lato-Black";
  font-size: 24px;
  line-height: 28.8px;
  color: #222222;
}

.header__leftSide {
  padding-left: 32px;
}

.header__rightSide {
  padding-right: 41px;
  gap: 25px;
}

.banner__img {
  max-width: 386px;
}

.banner__text-fashion {
  font-size: 24px;
  line-height: 28.8px;
}

.banner__text {
  width: 285px;
  padding-bottom: 14px;
  margin-top: 0px;
  margin-bottom: 0px;
  margin-right: 34px;
}

.banner__menu {
  display: none;
}

.offers {
  display: flex;
  gap: 20px;
  margin-bottom: 20px;
  padding: 0px 16px;
}

.offerForWomen {
  background-image: url(./img/tablet_offer_women.png);
}

.offerForMen {
  background-image: url(./img/tablet_offer_men.png);
}

.offerForKids {
  background-image: url(./img/tablet_offer_kids.png);
}

.offer__text {
  display: flex;
  flex-direction: column;
  padding: 59px 39px;
  align-items: center;
}

.offerAccesories {
  background-image: url(./img/tablet_offer_accesories.png);
}

.offer__text-accesories {
  display: flex;
  flex-direction: column;
  padding: 33px 287px;
  align-items: center;
}

.offerDownPart {
  padding: 0px 16px;
}

.products__title {
  margin-bottom: 3.3px;
}

p {
  color: #9F9F9F;
}

.productCards {
  grid-template-columns: 1fr 1fr;
  grid-template-rows: 1fr 1fr 1fr;
  gap: 16px;
  margin-top: 73px;
  margin-bottom: 33px;
  padding: 0px 16px
}

.productCards__downSide {
  padding: 24px 20px 16px 28px;
  gap: 0px;
}

.productCards__title {
  margin-bottom: 13px;
}

.productCards__description {
  color: #5D5D5D;
}

.productCards__price {
  margin-top: 18px;
}

.downBtn {
  margin-bottom: 70px;
}

.about {
  flex-direction: column;
  gap: 48px;
  padding-top: 48px;
  padding-bottom: 64px;
}

.subscription__banner {
  display: none;
}

.subscription__banner-tablet {
  display: block;
}

.subscription__content {
  flex-direction: column;
  align-items: center;
}

.subscription__content-leftSide {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin-top: 64px;
  margin-bottom: 48px;
}

.subscription__content-rightSide {
  margin-top: 0px;
}

.subscription__content-rightSide-text {
  margin-bottom: 27px;
}

.subscription__content-rightSide-form {
  margin-bottom: 140px;
}

.footer {
  background: #222224;
}

.footer__content {
  padding: 0px 32px 0px 32px;
  height: 79px;
}

.footer__content-mobile {
  display: none;
}
}





@media(max-width: 767px) {
.container {
  max-width: 375px;
}

h1 {
  font-size: 38px;
  line-height: 45.6px;
}

h3 {
  font-size: 20px;
  line-height: 24px;
}

.header {
  height: 74px;
}

.header__leftSide {
  padding-left: 16px;
}

.header__rightSide {
  padding-right: 16px;
}

.header__btn-user {
  display: none;
}

.header__btn-cart {
  display: none;
}

.banner__img {
  display: none;
}

.banner-content {
  height: 363px;
}

.banner__text-fashion {
  font-size: 20px;
  line-height: 24px;
}

.banner__text {
  width: 238px;
  padding-bottom: 14px;
  margin-top: 0px;
  margin-bottom: 0px;
  margin-right: 34px;
  margin-left: 56px;
}

.banner__menu {
  display: none;
}

.offers {
  margin-top: 64px;
  gap: 32px;
  margin-bottom: 32px;
  flex-direction: column;
  padding: 0px 16px;
}

.offerForWomen {
  background-image: url(./img/phone_offer_women.png);
  height: 247px;
}

.offerForMen {
  background-image: url(./img/phone_offer_men.png);
  height: 247px;
  }

.offerForKids {
  background-image: url(./img/phone_offer_kids.png);
  height: 247px;
}

.offer__text {
  display: flex;
  flex-direction: column;
  padding: 98px 95px;
}

.offerAccesories {
  background-image: url(./img/phone_offer_accesories_img.png);
}

.offer__text-accesories {
  display: flex;
  flex-direction: column;
  padding: 30px 92px;
  align-items: center;
  margin-bottom: 64px;
}

.offerDownPart {
  padding: 0px 16px;
}

p {
  color: #9F9F9F;
}

.productCards {
  display: flex;
  flex-direction: column;
  gap: 15.6px;
  margin-top: 64.7px;
  margin-bottom: 40.6px;
  padding: 0px 8px;
}

.productCards__downSide {
  padding: 25px 28px 20px 16px;
  gap: 0px;
}

.productCards__title {
  margin-bottom: 12.6px;
}

.productCards__description {
  font-weight: 400;
  text-align: left;
  width: 318px;
  margin-bottom: 18px;
}

.downBtn {
  margin-bottom: 85px;
}

.about {
  flex-direction: column;
  gap: 46px;
  padding-top: 48px;
  padding-bottom: 81px;
}

.subscription__banner {
  display: none;
}

.subscription__banner-tablet {
  display: none;
}

.subscription__banner-mobile {
  display: block;
}

.subscription__content {
  flex-direction: column;
  align-items: center;
}

.subscription__content-leftSide {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin-top: 64px;
  margin-bottom: 59px;
}

.subscription__content-rightSide {
  margin-top: 0px;
}

.subscription__content-rightSide-text {
  margin-bottom: 22px;
}

.subscription__content-rightSide-form {
  margin-bottom: 109px;
}

.footer__content {
  flex-direction: column;
  align-items: center;
  padding: 0;
}

.footer__content-leftSide {
  display: none;
}

.footer__content-rightSide {
  padding: 43px 0 40px 0;
}

.footer__content-mobile {
  font-family: "Lato-Regular";
  font-weight: 400;
  font-size: 16px;
  line-height: 19px;
  color: #FBFBFB;
  display: block;
  margin-bottom: 9px;
}
}